.register {
    color: white;
    text-decoration: none;
}
.login_link:checked{
  color: white;
}
.login_link:hover {
    text-decoration: none;
    color: white;
}


body {


display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: Arial, sans-serif;
margin: 0;

  background-image: url('../imagen/25545.jpg'); /* 🔹 Ruta de tu imagen */
  background-size: cover;      /* 🔹 La imagen cubre toda la pantalla */
  background-position: center; /* 🔹 Centrada */
  background-repeat: no-repeat; /* 🔹 No se repite */


}

form {


width: 300px; /* Ancho del formulario */
border: 2px solid black;
padding: 6rem; /* Espaciado interno */

background-color: rgba(0, 0, 0, 0.509);
border: none;
border-radius: 20px;
color: aliceblue;





}




.boton {
  width: 100%;
  padding: 12px;
 
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;}

p{

text-align: center;



}

h2 {

display: block;
border: 2px solid black;
width: 95% ;
padding: 10px;
margin: 10px 0;
border-radius: 10px;
text-align: center;


}







.entrada {

    
    background: #f0c000; 
    padding: 10px; /* Espaciado interno */
    color: aliceblue; 
    border : none; /* Sin borde */
    width: 90%; /* Ancho del botón */
    border-radius: 5px; /* Bordes redondeados */
    
   text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;


}

input:hover{ 
 background-color: white;
    color: black;
    
    

}

a {

    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
    text-align: center;
}

a:hover{
    text-decoration: none;
    color: white;
}

input{
display: block;
border: 2px solid black;
width:95% ;
padding: 10px;
margin: 10px;
border-radius: 10px;



}